
NEXT_PUBLIC_SALESFORCE_API_AUTH_URL=https://test.salesforce.com
NEXT_PUBLIC_SALESFORCE_GRANT_TYPE=password
NEXT_PUBLIC_SALESFORCE_CLIENT_ID=3MVG9aePn9FJJ2neFMUiOCnfKmlS_rYV0SPBkCXn70O6mo7yX5tHCW8C6VUsnHB4TZ6QhJHust2KdorkvpCmu
NEXT_PUBLIC_SALESFORCE_CLIENT_SECRET=24A1700EDFB66472FA1EC05321908C2C19A1F26E7F9B0A3194DC60DCDC05971E
NEXT_PUBLIC_SALESFORCE_USERNAME=integracion_app_mobile@bago.com.ar.uat
NEXT_PUBLIC_SALESFORCE_PASSWORD=Int3gracion@ppZYCirjC6pvCsgQHgtOkINafp5

NEXT_PUBLIC_EMAIL_SERVICE_API_URL=https://bago-api-dc57cc803840.herokuapp.com/
NEXT_PUBLIC_EMAIL_SERVICE_API_KEY=fauhasbdjkpasdbvbaksl

NEXT_PUBLIC_ASSETS_URL=
NEXT_PUBLIC_BASE_PATH=http://localhost:3000

NEXT_PUBLIC_JWT_SECRET_KEY=e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855