@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #de427d;
	--color-secondary: #33a5aa;
	--color-white: #fff;
	--color-gray-light: rgba(205, 207, 206, 1);
	--color-gray-dark: rgba(0, 0, 0, 0.61);
	--color-gray: rgba(112, 112, 112, 1);
	--color-black: #000;

	--spacing-xs: 4px;
	--spacing-sm: 6px;
	--spacing-md: 8px;
	--spacing-lg: 12px;
	--spacing-xl: 16px;
	--spacing-3xl: 24px;
	--spacing-4xl: 30px;
}
